body{
    background-color: rgba(255, 255, 255, 0.616);
}
.nav{
    display: inline-block;
    background-color: rgb(119, 207, 248);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-decoration: none ;
    margin: 5px;
    font-style: italic;
    border-radius: 5px;
}

.nav:hover{
    background:rgb(16, 116, 197)
}
.logo{
    position: absolute;
    top: 6px;
    left: 20px;
    width: 150px;
}
nav{
    background:  rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    
}
.nav1{
    background-color: rgb(2, 17, 146);
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    font-style: oblique;
    border: rgb(17, 87, 133) ridge;
}
.nav1:hover{
    background-color: rgb(0, 89, 255);
}

<<<<<<< HEAD


.navbar{    
    overflow: hidden;
    position: fixed;/* Set the navbar to fixed position */
    top: 0; 
    width: 100%; /* Full width */
    z-index: 999;
}

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
    
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 500px;
    width: 100%;
    
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

a{
    text-decoration: none;
}



.imgNosotros{
    width: 700px;
    padding: 1px;
    margin: 1px;
}

.cursiva{
    padding-left: 800px;
    color: rgb(45, 96, 138);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px large; 
}

.parrafox{
    padding-left: 800px;
}

.sectionservicios{
    
}
=======
* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 47%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
div.gallery {
    margin: 5px;
    border: 3px solid #e2d2d2;
    float: left;
    width: 310px;
    align-items: center;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
>>>>>>> 2b998c505e7b1de2bf543a9c8680b86e6ab24d2b
