body{
    background-color: rgb(236, 248, 255);
}
.nav{
    display: inline-block;
    background: rgb(15, 140, 243);
    color: azure;
    padding: 10px 10px;
    text-decoration: none ;
    margin: 10px;
}
.nav:hover{
    background:rgb(101, 164, 175)
}
.logo{
    position: absolute;
    top: 5px;
    left: 20px;
}
nav{
    background:  rgb(187, 212, 228);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

#conteItemCarrusel{

    height: 200px;
    overflow: hidden;

}

.imgCarrusel{
    height: 100%;
    width: 100%;
    
}


.itemCarrusel{

    height: 200px;
    position: relative;

}

.tarjetaCarrusel{

    height: 100%;
}

.flechasCarrusel{

    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
}

a{
    text-decoration: none;
}