body{
    background-color: rgba(240, 240, 240, 0.616);
}
#nav-main{
    height: 100px;
}

.nav-link{
    display: flex;
    justify-content: end;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-decoration: none ;
    margin: 4px;
    font-style: italic;
    border-radius: 5px;

}
.nav-link1{
    background-color: #082e6e;
    text-decoration: none;
    color: aliceblue;
    padding: 15px 15px;
}
.logo1{
    width: 150px;
}

.mecanicoseccion{
    width: 1550px;
    height: 500px;
}