body{
    background-color: rgba(240, 240, 240, 0.616);
}
#nav-main{
    height: 100px;
}

.nav-link{
    display: flex;
    justify-content: end;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-decoration: none ;
    margin: 4px;
    font-style: italic;
    border-radius: 5px;

}
.nav-link1{
    background-color: #082e6e;
    text-decoration: none;
    color: aliceblue;
    padding: 15px 15px;
}
.logo1{
    width: 150px;
}

.mecanicoseccion{
    width: 1550px;
    height: 500px;
    border-radius: 10em;
}


#div-hero {
    display: flex;
}

#div-image-hero {
    width: 40%; 
}

#div-hero-text {
    width: 50%;
    margin-right: 10%;
}
#hero-button-div {
    display: flex;
}
.boton22 {
    color: #20478b;
    background-color: #ffffff;
    transition: transform .2s;
    width: 130px;
    height: 50px;
    border: 1px black;
    text-align: center;
    text-decoration: none;
    margin-top: 1cm;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.boton22:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


.electricistas-fondo{
    width: 100%;
    height: 45%;
    border-radius: 10%;
}
.img-mecanico{
    width:  70%;
    border-radius: 10%;
    margin: 10%;
}

.titulo{
    color: #082e6e;
    text-align: start;
}